.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.googleButton {
  margin-bottom: 20px;
  width: 100%;
  // max-width: 300px;
}

.otpButton {
  width: 100%;
  // max-width: 300px;
}

.message {
  margin-bottom: 20px;
}

.links {
  margin-top: 20px;
}
