/* index.module.scss */
.image {
  transition: transform 0.2s;
}

.image.zoomed {
  transform: scale(2); /* Adjust the zoom level as needed */
}

.imageWrapper {
  // position: relative;
  // overflow: hidden;
  cursor: zoom-in;
}

.image-wrapper.zoomed {
  cursor: zoom-out; /* Cursor changes back when zoomed */
}
