.addToCartButton {
  visibility: visible;
  opacity: 1;
  transition: opacity 100ms linear, background-color 100ms linear;
  background-color: rgba(139, 0, 81, 0.8);
}

.addToCartButton:hover {
  background-color: rgba(139, 0, 81, 1);
}

.green {
  color: var(--theme-success-700);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

/* index.module.scss */
.quantityControls {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 20px;
}

.quantityButton {
  background-color: #f0f0f0;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  margin: 0 4px;
}

.quantityCounter {
  font-size: 16px;
  padding: 4px 8px;
  border-radius: 4px;
}

.quantityInput {
  background-color: transparent;
  color: #000;
  border: none;
  text-align: center;
  width: 50px;
}

.fields {
  display: flex;
  width: fit-content;
}

.disabled {
  cursor: not-allowed !important;
}