@import '../../_css/common';

.login {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;

  @include mid-break {
    grid-template-columns: 1fr;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/assets/images/image-1.svg');
  }

  p {
    color: var(--color-gray-500);
    padding-bottom: 20px;
  }
}

.logoContainer{
  position: absolute;
  top: 5%;
  left: 5%;
}

.heroImg {
  height: 100%;
  width: 100%;
  position: relative;

  @include mid-break {
    background: none;
    display: flex;
    justify-content: center;
  }
}

.carouselContainer {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;

  @include small-break {
    display: none; // Hide carousel on small devices
  }
}

.carouselImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  opacity: 0;
  transform: translateX(0);
}

.carouselImage.show {
  opacity: 1;
  transform: translateX(0);
}

.carouselImage.hide {
  opacity: 0;
  transform: translateX(-100%);
}

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: transparent;

  @include mid-break {
    justify-content: center;
    align-self: center;
    padding: 10px;
  }
}

.formContainer {
  max-width: 600px;
  width: 100%;
  padding: 50px;
  border-radius: 10px;

  @include mid-break {
    backdrop-filter: blur(30px);
    background: transparent;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  }

  @include small-break {
    padding: 30px;
  }
}

.params {
  margin-top: var(--base);
}
