@import '../../_css/common';

.login {
  display: grid;
  grid-template-columns: 1fr 45%;
  height: 100vh;

  @include mid-break {
    grid-template-columns: 1fr;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/assets/images/image-1.svg');
  }

  p {
    color: var(--color-gray-500);
    padding-bottom: 20px;
  }
}

.heroImg {
  height: 100%;
  width: 100%;
  position: relative; // Position relative to ensure child positioning

  @include mid-break {
    background: none;
    display: flex;
    justify-content: center;
  }
}

.carouselContainer {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.carouselImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out; // Smooth transition for opacity and transform
  opacity: 0; // Initially hidden
  transform: translateX(0); // Start position for fading in effect
}

.carouselImage.show {
  opacity: 1; // Show the image
  transform: translateX(0); // Center the image
}

.carouselImage.hide {
  opacity: 0; // Hide the image
  transform: translateX(-100%); // Move the image out to the left
}


.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: transparent;

  @include mid-break {
    justify-content: flex-start;
    padding: 10px;
  }
}

.formContainer {
  max-width: 600px;
  width: 100%;
  padding: 50px;
  border-radius: 10px;

  @include mid-break {
    backdrop-filter: blur(30px);
    background: transparent;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  }

  @include small-break {
    padding: 30px;
  }
}

.params {
  margin-top: var(--base);
}
