.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: black;
}

.image {
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
}

.imageContainer {
  display: flex;
  align-items: flex-start;
  height: 80%;
}

.title {
  margin-top: 60px;
  height: 100%;
}

.buy {
  width: 100%;
  padding: 10px 20px;
}
