@import '../../../_css/common';

.cart {
  margin: 30px 0;
}

.cartWrapper {
  display: grid;
  grid-template-columns: 65% 1fr;
  gap: 60px;
  margin-top: 100px;

  @include large-break {
    grid-template-columns: 1fr;
  }

  @include small-break {
    display: flex;
    flex-direction: column;
    gap: 20px; // Adjust the gap as needed for better spacing
  }
}


.addressWrapper {
  display: grid;
  grid-template-columns: 60% 1fr;
  margin-bottom: 20px;
  gap: 60px;

  @include large-break {
    grid-template-columns: 1fr;
  }

  @include small-break {
    display: flex;
    flex-direction: column;
    gap: 20px; // Adjust the gap as needed for better spacing
  }
}

.header {
  display: grid;
  grid-template-columns: 100px 2fr 1fr;
  gap: 24px;
  margin-bottom: 8px;

  @include small-break {
    display: none;
  }
}

.headerItemDetails {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.headersubtotal {
  text-align: end;
}

.itemsList {
  border-top: 1px solid var(--color-dark-50);
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 30px 24px;
  border: 1px solid var(--color-dark-50);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--color-dark-50);
}

.checkoutButtonWrapper {
  @include small-break {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: transparent;
    border-top: 1px solid var(--color-dark-50);
  }
}

.checkoutButtonWrapper .checkoutButton {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: var(--color-magenta-dark);
  color: white;
  padding: 10px;

  @include small-break {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
  }
}

@include small-break {
  .summary {
    padding: 10px;
  }
}

// index.module.scss

.addressContainer {
  background-color: #f5f5f5; // Grayish background
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  width: 100%;
  margin: 0 auto; // Center the container

  @include small-break {
    flex-direction: column;
    align-items: flex-start;
  }
}

.addressList {
  // border-radius: 8px;
  padding: 15px;
  // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;

  @include small-break {
    flex-direction: column;
    padding: 2px;
  }
}

.addressList p {
  margin: 0;
  line-height: 1.5;
}

.changeButton {
  background-color: var(--color-magenta-dark); // Dark magenta color
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  // width: fit-content;
  text-align: center;
  margin-top: 10px;
}

.changeButton:hover {
  background-color: var(--color-magenta-light); // Lighter magenta on hover
}

// Responsive styling using breakpoints mixins
@include small-break {
  .addressContainer {
    padding: 15px;
  }

  .changeButton {
    font-size: 14px;
    padding: 8px 12px;
  }
}