@import '../../_css/queries.scss';

.richText {
  background-color: rgba($color: #000000, $alpha: 0.6);
  padding: 15% var(--gutter-h);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: end;
  justify-content: center;

  @include mid-break {
    padding: 10% 30px;
    background-color: transparent;
  }

  @include small-break {
    padding: 50px 30px;
    background-color: transparent;
  }

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }

  h2 {
    font-size: 70px;
    // margin: 32px 0;
    width: fit-content;

    @include mid-break {
      font-size: 48px;
      margin: 24px 0;
      white-space: wrap;
      display: none;
    }

    @include small-break {
      width: 80%;
      font-size: 36px;
      margin: 8px 0;
      display: none;
    }
  }

  p {
    font-size: 30px;

    @include mid-break {
      font-size: 24px;
      display: none;
    }

    @include small-break {
      font-size: 18px;
      display: none;
    }
  }
}