@import '../../_css/queries.scss';

.hero {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 100px;
  height: 100vh;

  @include small-break {
    margin: 0;
    padding-top: 80px;
  }
}

.heroWrapper {
  background-color: var(--color-dark-50);
  width: 100%;
  // max-width: 1560px;
  max-height: 884px;
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 2s ease-in-out;
  position: relative;

  @media only screen and (max-width: 767px) {
    background-position: center;
  }
}

/* Additional CSS for large devices if needed */
@media only screen and (min-width: 768px) {
  .heroWrapper {
    /* Additional styling for large devices */
    background-position: right;
    /* Adjust as needed */
  }

  .heroWrapper::after {
    background-color: rgba(255, 255, 255, 1);
  }
}

.heroWrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255, 1);
  /* Adjust opacity here */
  z-index: -1;
  /* Ensure it's behind the content */
}

.overlay {
  height: 100%;
}

.heroTextBox {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 200px var(--gutter-h);
  width: 100%;
  color: white;
  z-index: 0;
  row-gap: 20px;
  height: 100%;
}

.links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding-top: 50px;
  flex-wrap: wrap;
  margin: calc(var(--base) * -0.5);

  &>* {
    margin: calc(var(--base) / 2);
  }
}

.ctaText{
  z-index: 1;
}