@import '../../_css/queries.scss';

.home {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 100px;

  @include mid-break {
    gap: 60px;
  }
}

.pageContent {
  position: relative;
  overflow: hidden;
}

.loadingScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-out;
  z-index: 10;
}

.hide {
  transform: translateY(-100%);
}

.radioInputs {
  display: flex;
  justify-content: start;
  align-items: center;
  // flex-wrap: wrap;
  overflow-x: scroll;
  column-gap: 1rem;
  width: 100%;
  font-size: 24px;
  margin-top: 40px;
}

.radioInputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radioInputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0;
  // color: rgba(51, 65, 85, 1);
  transition: all 0.15s ease-in-out;
}

.checked {
  background-color: #fff;
  font-weight: 600;
}

.content {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.content:not(.loading) {
  opacity: 1;
}

.onlineItems {
  display: grid;
  grid-template-columns: repeat(4, minmax(20%, 1fr));
  gap: 30px;
  padding: 10px 0;
  width: 100%;

  @include mid-break {
    gap: 20px;
  }

  @include small-break {
    grid-template-columns: 100%;
  }
}

.sectionHeading {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 20px;
  justify-content: center;
  width: 100%;
  display: flex;
}

.sectionText {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  padding: 0px 30px;

  @include mid-break{
    padding: 0px 0px;
    text-align: left;
  }
}

.desktopBg {
  display: block;

  @media (max-width: 768px) {
    display: none;
  }
}

.mobileBg {
  display: none;

  @media (max-width: 768px) {
    display: block;
    padding-top: 60px;
    // height: ;
  }
}

.radioInputs::-webkit-scrollbar{
  display: none;
}