@import '../../_css/common';

.mainContainer {
  display: flex;
  width: 100%;

  @include mid-break{
    flex-direction: column;
    width: 100%;
  }
}

.account {
  flex: 1 1 33.33%;
  padding: 1rem;
  // border-right: 1px solid #ddd;

  @include mid-break {
    flex: 1 1 100%;
    width: 100%;
  }
}

.orders {
  margin-bottom: var(--block-padding);
  margin-top: 180px;
  flex: 2 1 66.66%;
  padding: 1rem;
  width: 100%;

  @include mid-break {
    width: 100%;
    margin-top: 200px;
  }
}

.starContainer {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;

  @include mid-break {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-bottom: 10px;
    width: 100%;
  }
}

.form {
  margin-bottom: var(--base);
}

.success,
.error {
  margin-bottom: 15px;
}

.success {
  color: green;
}

.error {
  color: red;
}

.noOrders {
  font-weight: 600;
}

.ordersList {
  padding: 0;
  list-style: none;
  margin-top: 50px;
}

.item {
  display: flex;
  flex-wrap: 1;
  align-items: center;
  gap: calc(var(--base) / 2);
  text-decoration: none;
}

.itemContent {
  display: flex;
  flex-direction: column;
  gap: calc(var(--base) / 2);
  flex-grow: 1;
}

.itemTitle {
  margin-top: 0;
  margin-bottom: 0;
}

.itemMeta {
  display: flex;
  flex-direction: column;
  gap: 0;

  &>* {
    margin: 0;
  }
}

.button {
  flex-shrink: 0;
}